@media only screen and (min-width: 32.5em) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  header {
    margin-top: 10px;
  }
  nav {
    display: block;
    margin: 0 auto;
    padding: 0.75rem;
    max-width: 45rem;
  }

  header,
  footer {
    border-radius: 10px;
  }

  header img {
    box-shadow: 0 0 30px #444;
    border-radius: 0 10px 0 0;
    float: left;
    width: 50px;
  }
  nav ul {
    display: flex;
    justify-content: space-evenly;
  }

  main > div {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
  }
  #menuBtn {
    display: none;
  }
}
