* {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  overflow-x: hidden;
}

header,
main,
footer {
  margin: 0 auto;
  padding: 0.75rem;
  max-width: 45rem;
}

header,
footer,
main h3 {
  background-color: #02213b;
  color: white;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.253);
  text-align: center;
}
header {
  position: relative;
}
header h1 {
  font-size: 1.5rem;
  margin: 20px;
}

hr {
  background-color: #04082357;
  height: 1px;
}

footer {
  font-size: 0.8rem;
}

footer a {
  color: unset;
}

header img {
  width: 50px;
  height: auto;
  float: left;
}

main {
  padding: 10px;
}
main h3 {
  padding: 1rem;
  border-radius: 6px;
}
main > div {
  margin-bottom: 10px;
}
nav {
  background-color: black;
  display: none;
}

#menuBtn {
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: white;
}

#menuBtn::before {
  content: "≡  ";
}

nav ul {
  list-style-type: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
nav a {
  text-decoration: none;
  color: white;
}
nav ul > li {
  list-style: none;
  padding: 0.5rem;
  text-align: center;
}

section > p {
  text-align: center;
}

.show {
  margin: 0 auto;
  padding: 0.75rem;
  max-width: 45rem;
  display: block;
}
#menuBtn.show::before {
  content: "X";
  color: red;
}

section {
  box-shadow: 0 0 30px #444;
  padding: 0.5rem;
  border-radius: 6px;
}

#menu li > a:hover {
  color: yellowgreen;
}
.active {
  color: goldenrod;
}
#r {
  width: 180px;
  margin-bottom: 0;
}

#rangevalue {
  font-size: 2rem;
  color: navy;
}

#rangevalues {
  display: flex;
  margin: 0 0 0 25px;
  width: 200px;
}

#rangevalues option {
  flex: 1 1 auto;
}

.weather-card {
  width: 300px;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.weather-card img {
  width: 80px;
  height: 80px;
}
.weather-card p {
  margin: 10px 0;
  font-size: 16px;
}
