/* Responsive Styles */
/* @media screen and (max-width: 768px) {
 
} */
@media only screen and (min-width: 35rem) {
  /*----------- FOOTER --------------*/
  #contact {
    flex-direction: row;
    justify-content: space-between;
  }

  #contact > div {
    max-width: 60%;
  }

  #contact > div > div {
    display: flex;
  }

  #contact > div > div > div {
    margin-right: 30px;
  }
  .nav-links {
    list-style: none;
    display: flex;
  }
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  /* Weather Summary */

  #summary > table {
    width: 30ex;
    padding: 2%;
    position: absolute;
    top: 10%;
    left: 4%;
  }

  .home_card {
    flex-direction: row;
    margin-bottom: 1rem;
    flex-wrap: wrap;
  }

  .hero h1 {
    font-size: 4rem;
  }

  .hero p {
    font-size: 1.5rem;
  }
  .card-item.map {
    display: flex;
    justify-content: center;
  }
  .cardr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .table {
    display: block;
    color: rgb(0, 0, 0);
  }
  .card-table {
    background-color: #caf0f8;
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  table {
    border-radius: 10px;
  }
  thead th,
  tbody td {
    padding: 8px;
  }
  .rental-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .card-rental {
    padding: 2rem;
    background-color: #6480a6;
    min-width: 300px;
    max-width: 400px;
    border-radius: 6px;
    min-height: 700px;
  }
  .locate {
    flex-direction: row;
  }
}
