* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
  box-sizing: border-box;
}

.header {
  display: flex;
  background-color: #114c50;
  color: #ffffff;
  justify-content: center;
  padding: 1rem;
  border-radius: 1rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.profile-picture {
  position: absolute;
  right: 3%;
  box-shadow: 3px 5px 32px 8px rgba(0, 0, 0, 0.36);
}

.main {
  padding: 1rem;
  align-self: center;
}

.footer {
  background-color: #114c50;
  color: #ffe4e4;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 0.9rem;
  margin-top: auto;
}

.footer span {
  text-decoration: underline;
}

.last-update {
  color: yellow;
}
nav {
  background-color: #36454f;
  margin: 0 auto;
  width: 100%;
}
nav ul {
  list-style-type: none;
  display: none;
}
nav a {
  display: block;
  color: #fff;
  text-align: left;
  padding: 1rem;
  text-decoration: none;
}

nav a:hover {
  text-decoration: overline;
}

.active {
  color: yellow;
}
#menu {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  background-color: #eee;
  color: #000;
}

#menu::before {
  content: "≡";
}

.show ul {
  display: block;
}

#menu.show::before {
  content: "X";
}

/* Larger Views ******************************/
@media (min-width: 640px) {
  nav {
    background-color: #36454f;
    margin: 0 auto;
    width: 100%;
  }
  nav ul {
    display: flex;
  }
  nav a {
    text-align: center;
  }
  nav ul li {
    flex: 1 1 100%;
  }
  #menu {
    display: none;
  }
}
